<div class="multi-input">
    <h2>Syötä Kategoriat</h2>
    <input type="text" class="category-multi-input" placeholder="Erottele kategoriat pilkulla"/>

    <div class="added-categories"></div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $(".category-multi-input").on("input", function() {
            var text = this.value.trim();
            var keywords = text.split(",");

            if (keywords.length > 1) {
                this.value = keywords[keywords.length - 1];
                for (var i = 0; i < keywords.length - 1; i++) {
                    var keyword = keywords[i].trim();
                    if (keyword.length > 0) {
                        $(".added-categories").append("<div class=\"added-item\">"
                            + keyword
                        + "</div>");
                        $(".added-categories").append(`<input type="hidden" name="categories" value="${keyword}"/>`);
                    }
                }
            }
        });
    });
    /*]]>*/
</script>