<footer class="container-footer">
    <div class="footer">
        <div class="footer-links">
            <a class="footer-link" href="https://github.com/Corned/dope-news">GitHub</a>
            <!-- 
            <a class="footer-link" href="#">Help</a>
            <a class="footer-link" href="#">Terms</a>
            <a class="footer-link" href="#">Privacy</a>
            <a class="footer-link" href="#">About</a>
            -->
        </div>
        <p class="footer-note">Web-palvelinohjelmointi 2017 | Kurssiprojekti | Dope News</p>
    </div>
</footer>