<center>
    <h1>Syötä Kategoriat</h1>
    <input type="text" class="category-multi-input" placeholder="Erottele kategoriat pilkulla"/>

    <div class="categories">

    </div>
</center>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
        $(".writer-multi-input").on("input", function() {
            var text = this.value.trim();
            var keywords = text.split(",");

            if (keywords.length > 1) {
                this.value = keywords[keywords.length - 1];
                for (var i = 0; i < keywords.length - 1; i++) {
                    var keyword = keywords[i].trim();
                    if (keyword.length > 0) {
                        $(".categories").append("<div class=\"flex-item\">"
                            + keyword
                        + "</div>");
                        $(".categories").append(`<input type="hidden" value="kategoriat"/>`);
                    }
                }
            }
        });
    }
    /*]]>*/
</script>