<div class="multi-input">
    <h2>Lisää Kirjoittajat</h2>
    <input type="text" class="writer-multi-input" placeholder="Erottele kirjoittajat pilkulla"/>

    <div class="writers"></div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $(".writer-multi-input").on("input", function() {
            var text = this.value.trim();
            var keywords = text.split(",");

            if (keywords.length > 1) {
                this.value = keywords[keywords.length - 1];
                for (var i = 0; i < keywords.length - 1; i++) {
                    var keyword = keywords[i].trim();
                    if ( keyword.length > 0) {
                        $(".writers").append("<div class=\"flex-item\">"
                            +  keyword
                        + "</div>");
                        $(".writers").append(`<input type="hidden" name="kirjoittajat" value="${keyword}"/>`);
                    }
                }
            }
        });
    });
    /*]]>*/
</script>