<center>
    <div class="header">
        <h1 class="page-title">Dope News</h1> 
    </div>
</center>

<div class="sticky">
    <center>
        <ul class="navigation-bar">
            <li class="navigation-button">
                <a href="/">Etusivu</a>
            </li>
            <li class="navigation-button">
                <a href="/">Uutiset</a>
            </li>
            <li class="navigation-button">
                <a href="/">Viihde</a>
            </li>
            <li class="navigation-button">
                <a href="/">Urheilu</a>
            </li>
            <li class="navigation-button">
                <a href="/">Talous</a>
            </li>
            <li class="navigation-button">
                <a href="/">Lifestyle</a>
            </li>
            <li class="navigation-button">
                <a href="/">Digi</a>
            </li>
            <li class="navigation-button">
                <a href="/">Autot</a>
            </li>
        </ul>
    </center>
</div>