
<div class="navigation-bar">
    <div class="navigation-container">
        <a class="navigation-item" href="/ajankohtaista">Ajankohtaista</a>
        <a class="navigation-item" href="/luetuimmat">Luetuimmat</a>
        <a class="navigation-item" href="/c/uutiset">Uutiset</a>
        <a class="navigation-item" href="/c/viihde">Viihde</a>
        <a class="navigation-item" href="/c/urheilu">Urheilu</a>
        <a class="navigation-item" href="/c/talous">Talous</a>
        <a class="navigation-item" href="/c/digi">Digi</a>
        <a class="navigation-item create-article" href="/create">Luo Uutinen</a>
    </div>
</div>