
<div class="navigation-bar">
    <div class="navigation-container">
        <a class="navigation-item" href="/">Etusivu</a>
        <a class="navigation-item" href="/">Uutiset</a>
        <a class="navigation-item" href="/">Viihde</a>
        <a class="navigation-item" href="/">Urheilu</a>
        <a class="navigation-item" href="/">Talous</a>
        <a class="navigation-item" href="/">Lifestyle</a>
        <a class="navigation-item" href="/">Digi</a>
        <a class="navigation-item" href="/">Autot</a>
        <a class="navigation-item create-article" href="/create">Luo Uutinen</a>
    </div>
</div>