@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

::-webkit-scrollbar {
    display: none;
}

html * {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    background-color: rgb(250, 250, 250);
    height: 5000px;
}

h1 {
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
}

input, textarea {
    background-color: white;
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: none !important;
    display: block;
    width: 100%;

    font-size: 17px;

    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;

    outline: none !important;
    -webkit-appearance: none;
    resize: none;
}


/* FLOATS */
.left {
    float: left;
}

.right {
    float: right;
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
}

.categories, .writers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {
    width: auto;
    background-color: rgb(204, 204, 204);
    border-radius: 500px;
    padding: 10px 20px;
    margin: 5px 5px;
    font-weight: bolder;
}

/* HEADER & NAVIGATION */
.header {
    background-color: rgb(255, 75, 75);
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 5
}

.header > h1 {
    z-index: 6;
    padding: 0px;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 75, 75);
    width: 100%;
    z-index: 3;
    box-shadow: 0px 3px 3px -2px grey;
}

.navigation-button {
    display: inline-block;
    z-index: 4;
}

.navigation-button > a {
    display: block;
    background-color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 5;
}

.navigation-button > a:hover {
    background-color: rgb(199, 60, 60);
}

/* OTHERS */
.content {
    max-width: 900px;
    width: 900px;
}

.multi-input-container {
    display: flex;
}

.multi-input {
    max-width: 100%;
    width: 50%;
    padding: 20px;
}

.writer-multi-input, .category-multi-input {
    text-align: center;
}