<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head">...</div>

    <body>
        <div th:replace="fragments/navigation">...</div>

        <div class="content-container"> 
            <div class="card">
                <h1><span th:text="${article.headline}">...</span></h1>
                <div class="image-container">
                    <img class="image" th:src="@{${'/image/' + article.picture.id}}"/>
                </div>

                <p class="julkaisuaika" th:text="'Julkaistu ' + ${article.date}">...</p>
                <!-- Container for categories -->
                <div>
                    <span class="category-pill" th:each="category : ${article.categories}" th:text="${category.category}">...</span>
                </div>

                <h3>
                    <span th:text="${article.lead}">...</span>
                </h3>

                <p class="leipateksti" th:text="${article.body}">...</p>

                <!-- Container for writers -->
                <div class="writer-pills">
                    <span class="writer-pill" th:each="writer : ${article.writers}" th:text="${writer.name}">...</span>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer">...</div>
    </body>

    <div th:replace="fragments/scripts">...</div>
</html>