<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head">...</div>

    <body>
        <div th:replace="fragments/navigation">...</div>

        <center>
            <h1>Database test!</h1>

            <form th:action="@{/}" method="POST">
                <p>Title:</p>
                <input name="title" type="text" placeholder="News Headline :D"/>

                <input type="submit" value="Tallenna"/>
            </form>
        
            <table>
                <tr th:each="news_ : ${news}">
                    <td><p th:text="${news_.title}">title :D</p></td>
                </tr>
            </table>
        </center>

        <center>
            <h1>Tag Test</h1>
            <form th:action="@{/}" method="POST">
                <input type="text" class="multi-input" placeholder="Separate keywords with ,"/>
            </form>

            <div class="my-tags">

            </div>
        </center>

    </body>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function() {
            $(".multi-input").on("input", function() {
                var text = this.value.trim();
                var keywords = text.split(",");

                if (keywords.length > 1) {
                    this.value = keywords[keywords.length - 1];
                    for (var i = 0; i < keywords.length - 1; i++) {
                        if (keywords[i].length > 0) {
                            $(".my-tags").append("<div class=\"tag-item\">"
                                + keywords[i]
                            + "</div>");
                        }
                    }
                }
            });
        }
        /*]]>*/
    </script>
    

    <div th:replace="fragments/scripts">...</div>
</html>