<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head">...</div>
    <div th:replace="fragments/scripts">...</div>
    <title th:text="${category}">...</title>

    <body>
        <div th:replace="fragments/navigation">...</div>

        <div class="content-container">
            <h1 class="jumbotron" th:text="${category}"> ... </h1>
            <div th:each="article : ${articles}" class="card clickable-article" th:id="'article/'+${article.id}">
                <h1><span th:text="${article.headline}">...</span></h1>
                <p class="julkaisuaika" th:text="'Julkaistu ' + ${article.published}">...</p>

                <div>
                    <span class="category-pill" th:each="category : ${article.categories}" th:text="${category.category}">...</span>
                </div>
            </div>
        </div>
        
        <div th:replace="fragments/footer">...</div>
    </body>
</html>