<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head">...</div>
    <div th:replace="fragments/scripts">...</div>
    
    <body>
        <div th:replace="fragments/navigation">...</div>

        <center>
            <div class="card">
                <h1>Luo Uutinen</h1>
                
                <form th:action="@{/luo}" th:method="POST" id="news-form" enctype="multipart/form-data">
                    <textarea name="otsikko" rows="1" cols="50" placeholder="Otsikko"/>
                    <textarea name="ingressi" rows="2" cols="50" placeholder="Ingressi"/>
                    <textarea name="leipateksti" rows="4" cols="50" placeholder="Leipäteksti"/>
                    <input type="file" name="kuva"/>

                    <div style="display: flex;">
                        <div th:replace="fragments/writer-input">...</div>
                        <div th:replace="fragments/category-input">...</div>
                    </div>

                    <!-- required -->
                    <input type="hidden" value="" name="kategoriat"/>
                    <input type="hidden" value="" name="kirjoittajat"/>        
                    <!-- required -->

                    <input class="btn" type="submit" value="Submit!"/>
                </form>

            </div>
        </center>
    </body>
</html>